@use './assets//styles/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    scroll-behavior: auto;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    transform-style: preserve-3d;
    background: linear-gradient(#512d33, #264063, #512d33, #a79519);
}

section {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    position: relative;
}

ul {

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: $white-color;
    overflow: hidden;
}