@use "mixins" as *;

$white-color: #FFFFFF;
$orange-color: #EC431C;
$blue-color: #002654;
$black-color: #111111;
$primary-color: #881125;
$secondary-color: #1DA1F2;
$third-color: #808000;
$fourth-color: #452FB0;


$font-main: 'Inter', sans-serif;
$radius: 12px;
$transition: all 0.3s ease;