@use './variables' as *;

// $white-color
// $orange-color
// $blue-color
// $black-color
// $primary-color
// $secondary-color
// $third-color
// $fourth-color

.shine-button {
  position: relative;
  padding: 1rem 2rem;
  background: var(--blue-color);
  font-size: 1.2rem;
  border: none;
  border-radius: $radius;
  max-width: 100%;
  font-weight: 800;
  cursor: pointer;
  color: var(--white-color);
  overflow: hidden;
  transition: $transition;

  &::before {
    content: '';
    position: absolute;
    height: 250%;
    min-width: 4rem;
    top: 0;
    left: -60px;
    background: linear-gradient(90deg, transparent, var(--white-color), transparent);
    overflow: hidden;
    transform: rotate(45deg) translateY(-35%);
    animation: shine 3s ease-in-out infinite;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
  }
}

@keyframes shine {
  0% { left: -80px; }
  40% { left: calc(100% + 20px); }
  100% { left: calc(100% + 20px); }
}

/* Example color variants */

.button-primary{
  background: linear-gradient(135deg, var(--primary-color), var(--orange-color));
  box-shadow: 0 10px 30px rgba(247,151,30,0.4);
}
.button-secondary {
  background: linear-gradient(135deg,var(--primary-color), var(--fourth-color));
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}

.button-red {
  background: var(--primary-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}
.button-orange {
  background: var(--orange-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}
.button-black {
  background: var(--black-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}

.button-black {
  background: var(--fourth-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}
.button-white {
  background: var(--white-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
  color: var(--black-color);
}
.button-twitter {
  background: var(--secondary-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}
.button-olive {
  background: var(--third-color);
  box-shadow: 0 10px 30px rgba(170, 169, 169, 0.4);
}

// $white-color
// $black-color
// $primary-color
// $secondary-color
// $third-color
// $fourth-color