@use './variables';



p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--text-main);
}

.footer {
    background: var(--surface);
    background-image: url("https://images.unsplash.com/photo-1462536943532-57a629f6cc60?q=80&w=873&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;

    // ✅ Correct usage of backdrop-filter
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); // Safari support

    // ✅ Add semi-transparent overlay for opacity effect
    background-color: rgba(0, 0, 0, 0.3);

    color: var(--text-main);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--surface-border);

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .footer-sections {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .footer-section {
                margin-bottom: 20px;
                padding: 0 15px;
                text-align: left;
                flex: 1;
                min-width: 200px;

                h4 {
                    margin-bottom: 10px;
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.95rem;
                    line-height: 1.5;
                    color: var(--text-main);
                }
            }
        }
    }

    @media (max-width: 640px) {
        .footer-container {
            padding: 0 10px;

            .footer-sections {
                display: flex;
                flex-direction: row;
                // align-items: center;

                .footer-section {
                    flex: 1 1 100%;

                    .navbar-links {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        a {
                            font-size: 0.9rem;
                            margin-right: 15px;

                            &.active::after {
                                width: 0%;
                            }
                        }
                    }
                }
            }
        }

    }
}

.copy {
    p {
        font-size: 0.8rem;
        color: var(--text-main);
    }
}