@use './variables';

.gallery-header {
  margin-bottom: 2rem;
}

.gallery-grid {
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

  .gallery-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }

    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 0.5rem;
      text-align: center;
    //   font-size: variables.$font-size-small;
    }
  }
}