@use './variables' as *;

// $white-color
// $orange-color
// $blue-color
// $black-color
// $primary-color
// $secondary-color
// $third-color
// $fourth-color

.home{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    color: $blue-color;

    h1{
        font-size: 5rem;
        margin-bottom: 1rem;
    }

}