@use './variables' as *;

// $white-color
// $orange-color
// $blue-color
// $black-color
// $primary-color
// $secondary-color
// $third-color
// $fourth-color

.container {
  width: 100%;
  overflow: hidden;
}

.slider {
  height: 600px; /* adjust as needed */
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(550px * 5); /* double the slides for smooth loop */
  animation: scroll 20s linear infinite;
}

.slide {
  width: 550px;
  height: 300px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Smooth infinite scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px *5)); /* move by half track length */
  }
}